header{background-color: black;
       text-align: left;
       font-size: large;


}

body{background-color: rgb(0, 0, 0);
     font-family: century-gothic, sans-serif;
     font-size: large;
     color: white;
     margin: 50px;
}

footer{background-color: rgb(0, 0, 0);
       color: rgb(255, 255, 255);
       text-align: center;
       

}

.artigo{background-color: rgb(0, 0, 0);


}

.art_title{font-family: century-gothic, sans-serif;

}

.art_line{height: 10px;
          background-color:white;


}

.introduçao{background-image:url(codigo.jpg);
            


}

.pular{line-break: strict;}